<html lang="en">

    <body>
      <%- include('./navBar.ejs') %>

        <div class="class3">
          Search PostgreSQL Database: <br>
          <form action="/home/postgres/" method="GET">
            <label>Search for pets or owners:
              <input type="text" name="phrase" placeholder="PostgreSQL search"><br>
              <button type="submit">PostgreSQL Search</button>
            </label>
          </form>
        </div>
        <div class="class3">
          <h2>Search Results:</h2>
          <% if (results && results.length > 0) { %>
            <ul>
              <% results.forEach(function(result) { %>
                <li>Owner name: <%= result.owner_name %>, Owner ID: <%= result.owner_id %>, Pet name: <%= result.pet_name %>, Pet type: <%= result.pet_type_name %>  </li>
              <% }); %>
            </ul>
          <% } else if (phrase) { %>
            <p>No results found for "<%= phrase %>".</p>
          <% } else { %>
            <p>Enter a search term to find pets or owners.</p>
          <% } %>
        </div>
    </body>
</html>